body {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #D3D4D9;
}


h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #BB0A21;
}


form {
  background: #D3D4D9;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 400px;
  font-size: 1.1rem;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}


input[type="submit"] {
  background-color: #4B88A2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button{
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #4B88A2;
  color: white;
  font-weight: bold;
  cursor: pointer;

  padding: 10px 100px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 400px;
  font-size: 1rem;
}

a{
    text-decoration: none;
    color: white;
}


