<!DOCTYPE html>

<!--
Fondo principal: #FFF9FB

Texto principal: #252627

Color primario (marca): #4B88A2

Color de acento: #BB0A21

Fondo secundario / bordes / elementos UI: #D3D4D9

-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CkPoint</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <img src="../assets/img/logo.png" alt="logo web" height="200">
        
        <nav id="menhead">
            <a href="../index.html">
                Inici
            </a>
            <a href="./about.html">
                Sobre el projecte
            </a>
        </nav>
    </header>

        <h2>Sobre el projecte</h2>
        <p>Aquest projecte ha estat desenvolupat per l'alumne de 1 SMX de l'IES Joan Ramis i Ramis. Desenvolupat con a projecte per al mòdul Projecte.</p>

        <p>La funció principal d'aquest projecte o més ben dit sobre que tracta aquesta web és com un lloc on jugadors de molts de jocs diferents poden xerrar entre ells, xerrar amb els desenvolupadors dels videojocs, veure videos i a la pestanya de videos poden pagar perque es promouin els seus videos o xarxes socials. </p>

        <p> Es podran crear, manipular i eliminar forums. Chats diectes amb altres usuaris, veure videos que els developers o videos molt curts de altres jugadors ja que per videos llargs o promoció social haurien de pagar. Al principi la pàgina web comptara amb certes companyies / empreses i certs jocs pero evidentment en un futur l'idea del projecte és fer-lo creixer cada vegada més amb noves funcions, funcionalitats etc. </p>
    <footer>
        <p>&copy; Projecte desenvolupat per Brais Manent IES Joan Ramis i Ramis</p>
    </footer>
</body>
</html>