body{
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    background-color: #FFF9FB;
}
header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #4B88A2;
}

nav {
  margin-bottom: 20px; 
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  border: #FFF9FB;
}

footer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #4B88A2;
}

h2{
    color: #252627;
}

input{
  border: 2px solid #ccc;        
  border-radius: 10px;           
  padding: 10px 15px;            
  font-size: 16px;               
  outline: none;                 
  transition: all 0.3s ease;     
}



p{
    color: #252627
}
iframe{
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
}

main {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 15px; 
  margin: 10px 0px;
  max-width: 1900px; 
  margin-left: auto; 
  margin-right: auto;
}

.card {
  width: 300px;
  text-decoration: none;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 5px; 
}

.card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}


.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .card-img {
  transform: scale(1.05); }

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin: 0;
  color: #333;
  transition: color 0.3s ease;
}

.card-description {
  font-size: 1em;
  color: #666;
  margin-top: 10px;
  line-height: 1.5;
}

.card:hover .card-title {
  color: #007bff; 
}
